.card-img-author {
  width: 14%;
  height: auto;
}
.card-text {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}
@media screen and (min-width: 480px) {
  .card-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .card-text {
    font-size: 10px;
  }
}
.date {
  font-size: 10px;
}
@media screen and (min-width: 480px) {
  .date {
    font-size: 6px;
  }
}
@media screen and (max-width: 480px) {
  .date {
    font-size: 10px;
  }
}
.card-img-author {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.card-body {
  border-left: none;
  border-right: none;
}
.subtitulos {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .subtitulos {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .subtitulos {
    font-size: 8px;
  }
}
.section {
  font-size: 8px;
}
