.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imgLogoMedium {
  width: 25%;
  margin-top: 5%;
  margin-right: 50%;
}

.imgIconMedium {
  width: 15%;
  margin-top: 8%;
  border-radius: 100%;
}
.bi {
  width: 8%;
  height: auto;
  margin-bottom: 8px;
  margin-right: 15px;
  color: grey;
}
.mediumButton {
  align-self: start;
}
.barraNav {
  height: 41px;
  width: auto;
}
.icons{
  width: 24px;
  margin-right: 12px;
}
.photo{
  width: 35px;
}
#upbtn{
  border: 1px solid rgb(122, 122, 122);
  font-size: 12px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}
#upbtn:hover{
  border: 1px solid black;
}
